<style>
#overlay-1 {
min-width: 75px;
min-height: 15px;
  
max-width: auto;
max-height: auto;
  
padding: 5px;
margin: 5px;
background-color: #fff;
color: {{ theme_color }};
opacity: 0.5;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */
}
</style>
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image  }}') no-repeat center left; background-size: cover;" {% else %} style="background: url('{{ site.hero_default_image  }}') no-repeat center left; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <h1 id="overlay-1" class="title is-2">{{ page.title }}</h1>
            <p id="overlay-1" class="subtitle is-3">{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
    </div>
</section>
