---
layout: default
---

<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Recipe",
    "name": "{{ page.title }}",
    "image": [
        "{{ page.image }}"
    ],
    "author": {
        "@type": "Person",
        "name": "{{ page.author }}"
    },
    "datePublished": "{{ page.date }}",
    "description": "{{ page.description }}",
    "prepTime": "{{ page.prep_time }}",
    "cookTime": "{{ page.cook_time }}",
    "totalTime": "{{ page.total_time }}",
    "keywords": "{{ page.keywords }}",
    "recipeYield": "{{ page.recipe_yield }}",
    "recipeCategory": "{{ page.recipe_category }}",
    "recipeCuisine": "{{ page.recipe_cuisine }}",
    {% if page.calories %}
    "nutrition": {
        "@type": "NutritionInformation",
        "calories": "{{ page.calories }}"
    },
    {% endif %}
    "recipeIngredient":
        {{ page.ingredients | jsonify }},
    "recipeInstructions": [
        {% for step in page.method %}
        {
            "@type": "HowToStep",
            "text": "{{ step }}"
        {% if forloop.last == true %}
        }
        {% else %}
        },
        {% endif %}
        {% endfor %}
    ]
}
</script>

<div class="columns is-multiline">
    <div class="column is-8">
        <div class="content">
            {{ content }}
        </div>
    </div>
</div>
